
body {
   
    font-family: Arial, Helvetica, sans-serif;
    /*background-color:rgb(255, 237, 205);*/
    margin: 0;
    color: rgb(17, 17, 17);
    padding: 0;
    background-color: rgb(249, 240, 229);
}

*{
    box-sizing:border-box;    
}
/* Hedding font color */
:root{
    --heading-color : #00535e;
}

/* Navigation Bar*/

nav {
    background: #1b1b1b;
}
nav .logo {
    float: left;
    line-height: 70px;
    padding-left: 60px;    
}
nav:after {
    content: '';
    clear: both;
    display: table;
}
nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
    
}
nav ul li {
    float: none;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;  
}
nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover{
    color: rgb(241, 206, 154);
    border-radius: 5px;
    box-shadow: 0 0 5px whitesmoke,
                0 0 5px #66ffff;
}
nav ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;    
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: top .3s;
}
nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.show, .icon, input {
    display: none;
}
@media all and (max-width: 968px) {
    nav ul {
        margin: right;
        float: left;

    }
    nav .logo{
        padding-left: 30px;
        max-width: 100%;
        height: auto;
    }
    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: cyan;
    }
    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    .show + a, ul {
        display:none;
    }
    [id^=btn]:checked + ul {
        display: block;
    }
    .WP{
        font-size: 44px;
    }

    p{
        font-size: larger;
    }
}

/* Logo image */ 
.logo-img {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    display: inline;
    border-radius: 10px;
    width: 200px;
    height: auto;
}
.logo {
   overflow: hidden;    
}
/* Image Styles*/

#MainImg {
    max-width: 100%;
    height: auto;
}
/* Image Text */
.mainContent {
    position: relative;
    color: black;
    font-size: 2.1vw;
    text-align: justify;
    
}
.mainh{
    text-align: center;
}
.mainp{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.1vw;
}
.bottom-left {
    position:absolute;
    left: 0px;
    bottom: 4px;
    background: rgb(224, 224, 224);
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 0px;
    height: auto;
    
}
.head{
    color: white;
    font-size: 2rem;
    margin: 20px;
}
/* Home body */
.mainh:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    transition-duration: 0.6s;
}

#Mcontainer{
    width: auto;
    max-width: 1350px;
    margin: 0 auto;
    background: rgb(249, 252, 255);
    border-radius: 12px;
    padding-top: 1rem;    
}


#homeContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 40rem));
    grid-template-rows: auto auto;
    row-gap: 50px;
    justify-content: space-around; 
  }
  
  .container:hover {
      -ms-transform: scale(1.05); 
      -webkit-transform: scale(1.05); 
      transform: scale(1.05);
      transition-duration: 0.6s;
  }
  #homeContainer .container{
      margin: 10px;
      width: 550px;
      box-sizing: border-box;
      box-shadow: 0 19px 38px rgb(137, 137, 137), 0 15px 12px black;
      background-color: rgb(253, 236, 194);
      border-radius: 10px;
      animation-name: move-up;
      animation-duration: 3s;
      animation: move-up 3s;
      -webkit-animation: move-up 3s;
  }
  #homeContainer h3, #homeContainer p{
      width: 90%;
      padding: 0;
      margin: 1em auto;
      font-size: larger;
      text-align: left;
  }
  
 
  #homeContainer img{
      width: 550px;
      border-radius: 10px;
  }

  /* footer section */
  footer {
    margin: 0;
    padding: 40px 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: var(--heading-color);
    margin-top: 20px;
}
footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;

}
footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid rgb(250, 243, 243);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
footer .social a:hover {
    opacity: 0.9;
}
footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: rgb(249, 238, 238);
}
footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.9;
}
footer ul li {
    display: inline-block;
    padding: 0 15px;
}
footer ul li a:hover {
    opacity: 1.5;
}
footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(222, 211, 211);
}
/* Media queries */
@media all and (max-width: 913px){
    .container img{
        width: 100%;
        height: auto;
    }
    .logo-img {
        width: 130px;
    }
} 
@media screen and (max-width: 700px){
    .container{
        max-width: 350px;
        height: auto;
        justify-content: center;
    }
    .container img {
        max-width: 350px;
        height: auto;
    }
}
@media all and (max-width: 613px){
    .mainh{
        font-size: xx-large;
    }
    .mainp{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 2.8vw;
    }
} 

/* Animations */

@keyframes move-up {

    from {
        margin-top: 250px;
        }
        
        to {
        margin-top: 10px;
        }
        
}

@-webkit-keyframes move-up {
    from {
        margin-top: 250px;
        }
        
        to {
        margin-top: 10px;
        }
        
}